{% extends "auctions/layout.html" %} 

{% block title %}Create{% endblock %}

{% block body %}
    <h1>Create Listing</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <input type="text" name="description" placeholder="description" size="50">
        <input type="number" name="bid" placeholder="Minimum bid">
        <input type="text" name="image_url" placeholder="Url for image">
        <select name="category">
            {% for x in categories %}
                <option value='{{ x }}'>{{ x }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
{% endblock %}